# AWS/R2 Credentials
AWS_ACCESS_KEY_ID=your_stuff_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here

# S3/R2 Configuration
S3_BUCKET=your-bucket-name
S3_ENDPOINT_URL=https://your-s3-software-host-link

# Backup Settings
BACKUP_NAME=my-app #Or whatever you want here
BACKUP_INTERVAL=6h
RETENTION_DAYS=30
